:root {
    --main-color: #fd9255;
    --text-color: #ffffff;
}

.navColor {
    width: 100vw;
    height: 196px;
    left: 0px;
    top: 0px;
    background: var(--main-color);
    display: flex;
}

.navArea {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.navArea a {
    align-self: center;
}
.navText {
    display: flex;
    margin-left: 300px;
    width: 405px;
    justify-content: space-evenly;
}
.navText a {
    margin-right: 5%;
    text-decoration: none;
    color: var(--text-color);
}


